$icon-size: 50px !default;

* {
	box-sizing: border-box;
}

.container {
	img {
		cursor: pointer;
	}

	* {
		padding: 10px;
	}
}

.pokemon-list-item {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	width: $icon-size;
	height: $icon-size;
	cursor: pointer;
}

.pokemon-details {
	display: none;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
}

.close {
	display: flex;
	justify-content: center;
}