$default-margin: 50px !default;
$title-font-size: 50px !default;
$content-font-size: 30px !default;
$content-margin: 20px !default;
$img-size: 200px !default;

.container {
	margin-top: $default-margin;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	flex-flow: column wrap;
	grid-column: 1;
	grid-row: 1;

	h1 {
		font-size: $title-font-size;
	}

	p {
		font-size: $content-font-size;
	}

	.content {
		display: flex;
		align-items: center;
		flex-flow: column wrap;

		* {
			margin: $content-margin;
		}
	}
}

img {
	width: $img-size;
	height: $img-size;
}
