$img-size: 20px !default;
$default-space: 2px !default;
$default-margin: 10px !default;

.search-component {
	margin: $default-margin * 2;
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		margin-left: $default-margin;

		img {
			width: $img-size;
			height: $img-size;
			padding: $default-space;
		}
	}
}
